.App {
  text-align: center;
  background-image: url(./images/actormatchbckgrnd.png);
  background:  no-repeat center fixed .2;
  background-size: 100%;
  height: 100%;
  font-size: calc(10px + 2vmin);
  font-family: 'Josefin Sans', sans-serif;
}

.App-link {
  color: #61dafb;
}

.home-container {
  height: 100%;
}

